#section{
    background-color: #0d8de2;
    overflow-x: hidden;
    color: white;
}

h5{
  margin-top: 30px;
  text-align: center;
}

.fs-1{
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#frontEnd-logo{
  box-shadow:  2px 2px 4px rgba(0.4, 0, 0, 0.4);
  border-radius: 20px;
   width: 400px;
    max-width: 100%;
    height: auto;
    margin-top: 40px;

}

  
   


body{
  overflow-x: hidden;
}