marquee {
    padding: 15px 0;
}

.img-fluid,
.img-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
    border: none;
    background: transparent;
}



.d-flex {
    align-items: center;

}

.d-flex img {
    margin: 0 15px;
}